.sorteo-div {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 0; 
  color: white;
}

#contenedor-sorteos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.sorteo-card {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border: 1px solid #4CAF50;
  padding: 15px;
  margin: 10px 0;
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sorteo-card p {
  margin: 0 10px 10px 0;
}

.sorteo-card input {
  padding: 5px;
  margin-right: 8px;
}

.sorteo-card button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 6px;
}

.sorteo-card button:hover {
  background-color: #45a049;
}

.boton {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.boton:hover {
  background-color: #45a049;
}

#createContainer {
  position: fixed;
  top: 100px; /* distancia desde arriba */
  right: 30px; /* distancia desde la derecha */
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#CreateButton {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
  z-index: 1001;
}

#CreateButton:hover {
  background-color: #218838;
}



#crearMenu {
  display: none;
  margin-top: 5px;
  background-color: rgba(0,0,0,0.9);
  padding: 10px;
  border-radius: 8px;
}

#crearMenu input {
  margin: 5px 0;
  padding: 8px;
  width: 200px;
  border-radius: 5px;
  border: none;
}


