body {
  margin: 0;
  padding: 0;
  background-color: #fff; /* color fondo igual al contenido */
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

main#contenido {
  padding: 20px;
  padding-top: 60px; /* deja espacio para navbar fija */
  background-color: #fff; /* mismo color que body */
  min-height: 100vh; /* que ocupe todo alto */
  box-sizing: border-box;
  /* No margin-top para evitar espacios extra */
}
